body{
	margin: 0px;
	padding: 0px;
}

.nav{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 150px;
	max-height: 30%;
	min-height: 20%;
	background-color: #eeeeee;
	float: left;	
}

.nav > ul{
	list-style: none;
	display: inline-grid;
	grid-template-columns:1fr 1fr 1fr 1fr;	
	position: absolute;
	right: 5%;
	top: 50px;
}

.nav > ul > li{	
	margin: 2px;
	color: gray;
	width: 70px;
	height: 30px;
	text-align: center;
	font-family: monospace;	
}

.nav > .me > {
	position: relative;
}

.nav > .me > .name {
	position: absolute;
	left: 5%;
	top: 2%;
}

.nav > .me > .name > p{
	color: gray;
	font: 40px monospace ;
}

.container{
	background-color: #46edf2;
	width: 100%;
	height: 550px;
	clear: both;
	background-image: url(../images/pexels-ken-cheung-6559897.jpg);
	display: grid;
	grid-template-columns: 0.7fr 3fr;
	grid-column-gap: 10px;
}

.container_item {
	
}

.container_item > .top{
	width: 100%;
	height: 10%;
	background-color: darkcyan;
}

.container_item > .detail{	
	width: 100%;
	height: 85%;	
}

.detail-list{
	list-style: none;	
	padding: 0px;
	margin-top: 50px;
	margin-left: 20px;
	border-radius: 10px;
}

ul li.proj{	
	height: 50px;		
	margin: 7px auto;
	cursor: pointer;
	text-align: center;	
	font-family: monospace;
	font-size: 20px;
	color: black;
	border:1px dashed darkgray;
} 

ul li.proj:hover{	
	transition: 0.1s;
	background-color: red;
}

ul li.proj:after{
    content: "";	
	opacity: 0;
  	transition: all 0.8s
}

ul li.proj:active: after{	
	padding: 0px;
	margin: 0px;
	opacity: 1;
  	transition: all 0.8s
}

.frame{
	width: 95%;
	height: 85%;
	border:1px dashed darkgray;

	margin-top: 50px;
	margin-left: 15px;
}
