body{
	margin: 0px;
	padding: 0px;
}

.nav{
	margin: 0px;
	padding: 0px;
	width: 100%;
	max-height: 30%;
	min-height: 20%;
	background-color: #eeeeee;
}

.nav > ul{
	list-style: none;
	list-style-position: outside;
}